<body>
     <form method="post" action="/function">
         <input type="text" name="function">
         <input type="text" name="image1">
         <input type="text" name="image2">
         <input type="text" name="scale">
         <button type="submit">Submit</button>
     </form>
     <p style="color: black">{{slogan}}</p>
     <p style="color: black">{{slogan2}}</p>
     <form method="get" action="/progress">
         <p style="color: black">{{percent}}</p>
         <button type="submit">Show</button>
     </form>
</body>